.container { flex-grow: 1; background-color: #1A1A1A; padding: 10px; display: flex; flex-direction: column; }
.header { margin-top: 30px; margin-bottom: 30px; }
.icon-back { color: #FFFFFF; font-size: 28px; -unity-font-style: bold; }
.title { color: #FFFFFF; font-size: 28px; -unity-font-style: bold; margin-bottom: 16px; white-space: normal; }
.subtitle { color: #C0C0C0; font-size: 14px; white-space: normal; line-height: 22px; margin-bottom: 40px; }
.input-group { border-color: #333333; border-width: 1px; border-radius: 12px; display: flex; flex-direction: column; overflow: hidden; }
.input-row { flex-direction: row; align-items: center; justify-content: space-between; height: 52px; padding-left: 16px; padding-right: 16px; }
.custom-input { flex-grow: 1; margin: 0; padding: 0; }
.custom-input > .unity-base-field__input { background-color: transparent; border-width: 0; color: #FFFFFF; font-size: 14px; padding: 0; margin: 0; }
.custom-input > .unity-base-field__input--placeholder { color: #888888; }
.divider { height: 1px; background-color: #333333; width: 100%; margin: 0; }
.eye-icon { width: 24px; height: 24px; background-color: transparent; border-width: 0; background-image: url("project://database/Assets/UI/Images/eye.png?fileID=2800000&guid=6fbd4e110cb5ef84799c867428e86b08&type=3#eye"); }
.flex-spacer { flex-grow: 1; }
.btn-submit { background-color: #403285; color: #FFFFFF; font-size: 16px; -unity-font-style: bold; border-radius: 26px; height: 52px; border-width: 0; margin-bottom: 20px; transition-property: background-color; transition-duration: 0.2s; }
.btn-submit:hover { background-color: #4C3C9E; }
.btn-submit:active { background-color: #2D235C; }